<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Home{% endblock %} Ustad Mobile Cloud Django</title>
	<style type="text/css">

	  body{
		text-align: center;
	  }

	  #page {
		width: 1960px;
		text-align: left;
		background-color: grey;
	  }

	  #sidebar {
		float: left;
		width: 200px;
		border: 1px solid blue;
	  }

	  #content {
		float: left;
		width: 1000px;
		border: 1px solid #f00;
		padding: 10px;
	  }

	  #header {
		float: top;
		border: 2px solid grey;
		width: 1220px;
	  }
	</style>

	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL}}/jscss/primeui/primeui-1.1-min.css" />
	<script type="text/javascript" src="{{ MEDIA_URL}}/jscss/primeui/primeui-1.1-min.js"></script>

	<script src="{{ MEDIA_URL }}jscss/js/jquery-1.11.0.js"></script>
    	<link href="{{ MEDIA_URL }}jscss/css/bootstrap.css" rel="stylesheet" type="text/css"/>

    	<!--<script src="{{ MEDIA_URL }}jscss/js/bootstrap.js"></script>-->
	
	<script src="{{ MEDIA_URL }}jscss/js/mrjsontable.js"></script>
	<link href="{{ MEDIA_URL }}jscss/css/mrjsontable.css" rel="stylesheet" />
	
	<!--<script src="{{ MEDIA_URL}}jscss/jqui/ui/jquery.ui.core.js"></script>-->
	<script src="{{ MEDIA_URL}}jscss/jqui/ui/minified/jquery-ui.min.js"></script>
	<script src="{{ MEDIA_URL}}jscss/jqui/ui/jquery.ui.widget.js"></script>
	<script src="{{ MEDIA_URL}}jscss/jqui/ui/jquery.ui.slider.js"></script>
	<script src="{{ MEDIA_URL}}jscss/jqui/ui/jquery.ui.datepicker.js"></script>
	<link rel="stylesheet" href="{{ MEDIA_URL}}jscss/jqui/themes/base/jquery.ui.all.css">

	<script src="{{ MEDIA_URL }}jscss/js/jquery-ui-timepicker-addon.js"></script>
        <link rel="stylesheet" href="{{ MEDIA_URL }}jscss/css/jquery-ui-timepicker-addon.css" type="text/css"/>
	<link rel="stylesheet" href="{{ MEDIA_URL }}jscss/jqui/themes/base/jquery.ui.slider.css">

</head>

<body>
	<div id="header">
		 <img src="/media/images/logoUMlong.png" alt="Ustad_Mobile_UMCloud_logo" align=""/>
		<p><i>Welcome to Ustad Mobile Cloud Django v 0.0.1, deja-vu 1990</i></p>
		{% if current_user %}
			<i>Logged in as: {{current_user}}</i>
		{% endif %}

		<!--<i>{{current_user}}</i>-->
	</div>
	<p></p>
	<div id="page">
	<div id="sidebar">
		{% block sidebar %}
		<!--<img src="../media/images/logoUMlong.png" alt="Ustad_Mobile_UMCloud_logo"/>-->
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/logout/">Logout</a></li>
		</ul>
		{% endblock %}
	</div>
	<div></div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	</div>
</body>
</html>
