{% extends "base.html" %}
{% block scriptjs %}
<script type="text/javascript">
          $(function() { 
                        $('#newallclass').puibutton();
                }
          ); 
</script>
{% endblock %}
{% block title %}Manage Classes{% endblock %}
{% block content %}

    <script type="text/javascript">
  $(function() { 
    $('#tblallclasses').puidatatable({
            caption: 'Classes',
            paginator: {
                rows: 10 
            },
            columns: [
                {field:'pk', headerText: 'ID', sortable:true},
                //{field:'model', headerText: 'Django Model', sortable:true},
                {field:'allclass_name', headerText: 'Class Name', sortable:true},
                {field:'allclass_desc', headerText: 'Description', sortable:true},
                {field:'allclass_location', headerText: 'Location', sortable:true},
		{field:'school', headerText: 'School', sortable:true},

            ],
            datasource: [
                {% if allclasses_as_json %}
                        {% for c in allclasses_as_json %}
                        {"pk":"{{c.pk}}","allclass_name":"{{c.fields.allclass_name}}","allclass_desc":"{{c.fields.allclass_desc}}", "allclass_location":"{{c.fields.allclass_location}}","school":"{{c.fields.school}}"}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                {% endif %}
                ],
            selectionMode: 'single',
            rowSelect: function(event, data) {
                console.log("Wassup?")
                $('#messages').puigrowl('show', [{severity:'info', summary: 'Row Selected', detail: (data.allclass_name + ' ' + data.pk)}]);
                var edit="/allclassedit/"+data.pk;
                window.open(edit, "_self");
            },
            rowUnselect: function(event, data) {
                //$('#messages').puigrowl('show', [{severity:'info', summary: 'Row Unselected', detail: (data.brand + ' ' + data.vin)}]);
            }
   });
  }
  ); 


</script>
<i>Click a row to edit the Class</i>
<div id="tblallclasses"> </div>
<a href="/allclassnew/"><button id="newallclass" type="button">New Class</button></a>  
                                                                             
{% endblock %}
