{% extends "base.html" %}

{% block scriptjs %}
<script type="text/javascript">
          $(function() { 
		var all_students = [{% for student in all_students %}
                        { "value" : "{{ student.id }}",
                        "label" : "{{student.first_name}}({{student.username}})"
                        },
                {% endfor %}];	
		var assigned_students = [{% for student in assigned_students %}
                        { "value" : "{{ student.id }}",
                        "label" : "{{student.first_name}}({{student.username}})"
                        },
                {% endfor %}];


                        $('#submit').puibutton(); 
			$('#id_success').puiinputtext();
			$('#id_name').puiinputtext();
			$('#id_url').puiinputtext();
			$('#id_publisher').puidropdown();
			$('#id_students').puiinputtext();
			$('#assignedstudents').puipicklist({
                        	effect: 'clip',  
                                showSourceControls: true,  
                                showTargetControls: true,  
                                sourceCaption: 'Available',  
                                targetCaption: 'Selected',  
                                filter: true,  
                                sourceData:all_students,  
				targetData:assigned_students,
                                content: function(option) {  
                                	return '<img src="/media/' + "user" + '.png" alt="" /><span style="">' + option.label.replace(/^\s+|\s+$/g, '') + '</span>';  
                                         }  
			}); 
                }
          ); 
</script>
{% endblock %}

{% block title %}Edit Course{% endblock %}
{% block content %}

<form method="post">{% csrf_token %}
	<!--{{ form.as_p }}-->
	<br></br>
     <label>Name</label>
     {{form.name}}
     <label>URL</label>
     {{form.url}}
     <label>SUCCESS</label>
     {{form.success}}
     <label>PUBLISHER</label>
     {{form.publisher}}
     <p></p>
     <h3>Assigned Students</h3>
	<div id="assignedstudents" >
       		<select multiple="multiple" id="source" name="source">
       		</select>
       		<select multiple="multiple" id="target" name="target">
       		</select>
	</div>


     <br></br>
    <button id="submit" type="submit" name="submit" value="submit-value">Update</button>
</form>


{% endblock %}
