{% extends "base.html" %}
{% block scriptjs %}
<script type="text/javascript">
          $(function() { 
                        $('#school_name').puiinputtext();
                        $('#school_desc').puiinputtext();
                        $('#organisation').puidropdown();
                        $('#submit').puibutton();
                }
          ); 
</script>
{% endblock %}

{% block title %}Add a School {% endblock %}
{% block content %}

<form id="newschoolform" method="post">{% csrf_token %}
    <h1>Create a New School</h1>
    <div data-role="fieldcontain">
        <label for="school_name">School Name:  </label><input type="text" name="school_name" id="school_name" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="school_desc">School Desc:  </label><input type="text" name="school_desc" id="school_desc" value="" />
    </div>
   <!--<label>Organisation:</label> <select id="organisation" form="newschoolform" name="organisationid">
        {% for organisation in object_list %}
        <option value="{{ organisation.id }}">{{ organisation.organisation_name }}</option>
        {% endfor %}
   </select>-->
   <br></br>

    <button id="submit" type="submit" name="submit" value="Create">Submit</button>
</form>


{% endblock %}
