{% extends "base.html" %}
{% block title %}UstadMobile App Unit Test Report {% endblock %}
{% block content %}

<h1>Users</h1>
Format:
<ul>
<li>ID: EMAIL (ROLE) Organisation (Delete option)</li>
</ul>
<ul>
	{% for user, role, organisation in object_list %}
	   <li>{{ user.id }}  :
		<a href="{% url "user_edit" user.id %}">{{ user.username }}</a>
    		<a>({{ role.role_name}} )</a>
		<a> {{ organisation.organisation_name }}</a>
    		<a href="{% url "user_delete" user.id %}">  (Delete)</a>
    	   </li>

	{% endfor %}

</ul>

<a href="{% url "user_new" %}">New</a>

{% endblock %}
