{% extends "base.html" %}
{% block title %}Edit User{% endblock %}
{% block content %}

<script>
	$(function() {  
            $('#id_username').puiinputtext();  
	    $('#id_email').puiinputtext();
	    $('#id_password').puiinputtext();
	    $('#id_first_name').puiinputtext();
	    $('#id_last_name').puiinputtext();
  	    $('#submit').puibutton();
	    $('#deleteuser').puibutton();
            });  

</script>

<form method="post">{% csrf_token %}
    <!--{{ form.as_p }}-->

        <label>Username:</label>
        {{ form.username }}<i> (You cannot update or change the username)</i><p></p>
	<label>New Password:</label>
	{{form.password}}<i> (Leave blank to retain)</i><p></p>
	<label>Email address:</label>
	{{form.email}}<p></p>
	<label>First Name:</label>
	{{form.first_name}}<p></p>
	<label>Last Name:</label>
	{{form.last_name}}<p></p>
	<button id="submit" type="submit" name="submit" value="submit-value">Update</button>
	<!--<a href="/userdelete/{{form.id}}"><button id="deleteuser" type="button">Delete User</button></a>-->
	
</form>
    

{% endblock %}
