{% extends "managebase.html" %}
{% block navigate %}
<a href="/upload/"><button id="coursesnav" type="button"style="width:149px;height:50px;margin-top:10px;margin-right:10px;margin-left:40px;">Courses</button></a>
<a href="/userstable/"><button id="usertablenav" class="ui-state-hover" type="button" style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Users</button></a>
<a href="/schoolstable/"><button id="schooltablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Schools</button></a>
<a href="/allclassestable/"><button id="allclasstablenav" type="button"style="width:150px;height:50px;margin-top:10px;margin-right:10px;">Classes</button></a>
<hr>
<p></p>
{% endblock %}

{% block title %}User DataTable List{% endblock %}
{% block content %}
<style>
#newuser {
    background-image: url(/media/images/user-new.png);
    background-repeat: no-repeat;
    width: 120px;
    background-position: center left;
    text-align: right;
}
#adduser {
    background-image: url(/media/images/plus.png);
    background-repeat: no-repeat;
    width: 110px;
    background-position: center left;
    text-align: right;
}

</style>
<script type="text/javascript">
  //data['user_list']=zip(users_as_json, user_roles, user_organisations)
  $(function() { 
    $('#tblusers').puidatatable({
            caption: 'Users',
            paginator: {
                rows: 10
            },
            columns: [
                //{field:'model', headerText: 'Django Model', sortable:true},
		{field:'username', headerText: 'Username', sortable:true},
		{field:'first_name', headerText: 'First Name', sortable:true},
		{field:'last_name', headerText: 'Last Name', sortable:true},
		//{field:'is_active', headerText: 'Is Active', sortable:true},
		{field:'role',headerText:'Role', sortable:true},

            ],
            datasource: [
		{% if users_as_json %}
    			{% for c, role, org in user_list %}
			{"pk":"{{c.pk}}","model":"{{c.model}}","username":"{{c.pk}}: {{c.fields.username}}", "first_name":"{{c.fields.first_name}}","last_name":"{{c.fields.last_name}}", "is_active":"{{c.fields.is_active}}","role":"{{role.role_name}}"}{% if not forloop.last %},{% endif %}
    			{% endfor %}
		{% endif %}
		],
            selectionMode: 'single',
            rowSelect: function(event, data) {
		console.log("Wassup?")
                $('#messages').puigrowl('show', [{severity:'info', summary: 'Row Selected', detail: (data.username + ' ' + data.pk)}]);
		var edit="/useredit/"+data.pk;
		window.open(edit, "_self");
            },
            rowUnselect: function(event, data) {
                //$('#messages').puigrowl('show', [{severity:'info', summary: 'Row Unselected', detail: (data.brand + ' ' + data.vin)}]);
            }
   });
   $('#newuser').puibutton();  
   $('#adduser').puibutton();
  }
  ); 


</script>
<a href="/usernew/"><button id="newuser" type="button">New User</button></a>
<p></p>
<!---<i>Click a row to edit User</i>-->
<div id="tblusers"> </div>
<p></p>
<!--<a href="/usernew/"><button id="adduser" type="button">Add User</button></a>  -->
<!--
<h1>Users</h1>
Format:
<ul>
<li>ID: EMAIL (ROLE) Organisation (Delete option)</li>
</ul>
<ul>
	{% for user, role, organisation in data.object_list %}
	   <li>{{ user.id }}  :
		<a href="{% url "user_edit" user.id %}">{{ user.username }}</a>
    		<a>({{ role.role_name}} )</a>
		<a> {{ organisation.organisation_name }}</a>
    		<a href="{% url "user_delete" user.id %}">  (Delete)</a>
    	   </li>

	{% endfor %}

</ul>
-->
{% endblock %}
