{% extends "base.html" %}
{% block title %}UstadMobile App Unit Test Report {% endblock %}
{% block content %}

<form id="newuserform" method="post">{% csrf_token %}
    <!--{{ form.as_p }}-->
    <h1>Create a New User</h1>
    <div data-role="fieldcontain">
        <label for="username">Username: &nbsp  </label><input type="text" name="username" id="username" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="email">Email:  &nbsp&nbsp</label><input type="email" name="email" id="email" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="password">Password:</label><input type="password" name="password" id="password" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="first_name">First Name:  </label><input type="text" name="first_name" id="first_name" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="last_name">Last Name:  </label><input type="text" name="last_name" id="last_name" value="" />
    </div>
    Role: <select form="newuserform" name="role">
        {% for role in object_list %}
        <option value="{{ role.id }}">{{ role.role_name }}</option>
        {% endfor %}
   </select>
   Organisation: <select form="newuserform" name="organisation">
        {% for organisation in organisation_list %}
        <option value="{{ organisation.id }}">{{ organisation.organisation_name }}</option>
        {% endfor %}
   </select>
   <br></br>

    <input type="submit" value="Submit" />
</form>


<!--
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
-->

{% endblock %}
